$logo-text: 'Kanit', san-serif;
$content-text: 'Acme', sans-serif;
$content-background: #502A50;
$text-color: #FFC90A;
$admin-header: #8A098A;
$header-background: #9C1A9C;
$hover-background: #660966;
$span-color: #F6FA0F;
$logout-red: #FD2410;
$logout-black: #353535;
$success-message: #0B5A18;
$success-background: #47F063;
$error-message: #850E10;
$error-background: #ED5456;
$button-hover: #A70F77;
$body-title: #FBD969;
$footer-background: #4C424C;

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: $content-background;
  font-family: $content-text;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.text-input {
  padding: .7rem;
  display: block;
  width: 85%;
  border-radius: 5px;
  border: 2px solid $button-hover;
  outline: none;
  color: #434343;
}

.msg {
  width: 55%;
  margin: 10px auto;
  left: 25%;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
  position: absolute;
  animation: hide 1s linear 5s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

.success {
  border: 1px solid $success-message;
  background: $success-background;
  color: $success-message;
}

.error {
  border: 1px solid $error-message;
  background: $error-background;
  color: $error-message;
}

.btn {
  padding: .5rem 1.1rem;
  background: $header-background;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  color: $text-color;
  font-size: 1em;
  font-family: $content-text;
  transition: 1s;
}

.btn:hover {
  background: $button-hover;
  transition: 1s;
}

header {
  background: $header-background;
  height: 62px;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 88888;

  .logo {
    float: left;
    margin-left: 1.5em;
    text-decoration: none;
  }

  * {
    color: $text-color;
    font-family: $content-text;
    text-decoration: none;
  }

  .logo-text {
    font-family: $logo-text;
    margin: 10px;
    span {
      color: $span-color;
      font-family: $logo-text;
    }
  }

  .menu-toggle {
    font-size: 1.5em;
    padding: 20px;
    display: none;
    float: right;
    text-decoration: none;
    height: 23px;
    transition: 1s;
  }

  .menu-toggle:hover {
    background: $hover-background;
    transition: 1s;
  }

  ul {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      position: relative;

      a {
        display: block;
        padding: 20px;
        font-size: 1.2em;
        transition: 1s;
        height: 23px;

        .arrow-down {
          display: inline;
        }
        .arrow-up {
          display: none;
        }
      }

      a.showing {
        .arrow-down {
          display: none;
        }
        .arrow-up {
          display: inline;
        }
      }

      a:hover {
        background: $hover-background;
        transition: 1s;
      }

      ul {
        position: absolute;
        right: 0;
        top: 62px;
        width: 150px;
        overflow: hidden;
        display: none;

        li {
          width: 100%;
          height: 35px;

          a {
            padding: 10px;
            background: $admin-header;
            color: $text-color;
            font-size: 1em;
          }
        }

        .logout {
          color: $logout-red;
          background: $logout-black;
          transition: 1s;
        }

        .logout:hover {
          color: $logout-black;
          background: $logout-red;
          transition: 1s;
        }
      }
      ul.showing {
        display: block;
      }
    }

  }
}

.showing {
  max-height: 100em;
}

.post-slider {
  position: relative;

  .next {
    right: 70px;
  }
  .prev {
    left: 70px;
  }
  .next, .prev {
    position: absolute;
    top: 50%;
    font-size: 2em;
    color: $body-title;
    cursor: pointer;
    height: 30px;
    width: 20px;
    padding: 10px;
  }

  .next:hover, .prev:hover {
    font-size: 2.2em;
  }

  .slider-title {
    text-align: center;
    color: $body-title;
    margin: 30px auto;
    font-family: $logo-text;
  }

  .post-wrapper {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 10px 0;

    .post{
      position: relative;
      display: inline-block;
      height: 330px;
      margin: 0 10px;
      background: white;
      border-radius: 5px;
      text-align: center;

      .image-wrapper {
        height: 250px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        position: relative;

        .slider-image {
          width: 100%;
          bottom: 0;
          position: absolute;
          display: flex;
        }
      }


      .post-info {
        .title {
          text-decoration: none;
          font-size: 1.7em;
        }

        i {
          font-size: 0.6em;
          color: $button-hover;
        }

      }
    }
  }
}

.page-wrapper {
  a {
    color: $content-background;
    transition: 1s;
  }

  a:hover {
    color: $header-background;
    transition: 1s;
  }
}

.content {
  //font-style: normal;
  //font-weight: normal;
  width: 85%;
  margin: 30px auto 30px;

  .main-content {
    width: 75%;
    float: left;

    .recent-post-title {
      color: $body-title;
      margin: 30px;
      font-size: 2.2em;
      font-family: $logo-text;
    }

    .post {
      width: 95%;
      height: 200px;
      margin: 30px auto;
      border-radius: 5px;
      background: white;
      position: relative;
      overflow: hidden;

      .post-image {
        width: auto;
        max-width: 35%;
        height: 100%;
        float:left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 20px;
        overflow: hidden;
      }

      .post-preview {
        padding-top: 15px;
        max-height: 185px;
        overflow: hidden;
        word-wrap: break-word;

        .title{
          text-decoration: none;
          font-size: 1.4em;
        }

        i {
          font-size: 0.7em;
          color: $button-hover;
        }

        h2 {
          margin: 0;
        }

        .preview-text {
          font-size: 1.5em;
        }
      }

      .read-more {
        position: absolute;
        right: 11px;
        bottom: 10px;
        border: 2px solid $content-background;
        color: $content-background;
        background: white;
        border-radius: 0.2rem;
        font-family: $logo-text;
        text-decoration: none;
        transition: 1s;
        padding: 0;
        font-size: 1.1em;
        max-height: 25px;
      }

      .read-more:hover {
        background: $content-background;
        color: $text-color;
        transition: 1s;
      }
    }

    .pagination-links {
      list-style: none;
      text-align: center;
      li {
        display: inline-block;
        .link {
          color: $body-title;
          text-decoration: none;
          margin: 15px;
          padding: 5px;
          font-size: 1.5em;
          font-family: $logo-text;
        }
        .link:hover {
          color: $span-color;
          text-decoration: underline;
        }

        .link.active{
          color: $text-color;
          text-decoration: underline;
          pointer-events: none;
          font-size: 1.6em;
        }
      }

    }
  }

  .single {
    background: white;
    padding-left: 20px;
    font-size: 1.1em;
    border-radius: 5px;
    height: auto;

    .post-title {
      text-align: center;
      color: $content-background;
      font-family: $logo-text;
    }

    img {
      height: 400px;
      width: auto;
      max-width: 95%;
      display: block;
      margin: auto;
    }

    .post-content {
      color: black;
      font-size: 1.5em;
    }
  }

  .contact {
    color: #5F065F;
    padding-left: 20px;
    background: white;
    border-radius: 5px;

    .contact-title {
      font-family: $logo-text;
    }

    div {
      margin-top: 10px;
    }

    .contact-info {
      text-align: center;
      font-size: 1.3em;
      margin-bottom: 10px;

      a:hover{
        color: $button-hover;
      }
    }

    .msg {
      left: 13%;
    }
  }

  .sidebar {
    width: 20%;
    float: right;


    .section {
      background: white;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 20px;

      .section-title {
        margin: 10px 0 20px 0;
        color: #502A50;
        font-size: 1.8em;
        font-family: $logo-text;
      }
    }

    .search {
      margin-top: 85px;
    }

    .post {
      padding: 10px;
      border-top: 1px solid $content-background;
      transition: 1s;

      img {
        height: 100%;
        width: auto;
        border-radius: 5px;
        max-width: 105px;
        margin-right: 10px;
        float: left;
        border: 1px solid $content-background;
      }



      .title {
        text-decoration: none;
        font-size: 1.3em;

        h4 {
          margin: 0 auto;
        }
      }
    }

    .post:hover {
      padding-left: 10px;
      transition: 1s;
    }

    .topics ul {
      padding: 0;
      list-style: none;
      border-top: 1px solid $content-background;
      font-size: 1.4em;

      li a{
        display: block;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid $content-background;
        transition: 0.5s;
        color: $content-background;
      }

      li a:hover {
        padding-left: 10px;
        transition: 0.5s;
        color: $button-hover;
      }
    }
  }
}

.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  color: $content-background;

  .msg {
    width: 28%;
  }

  .form-title {
    text-align: center;
    font-family: $logo-text;
  }

  form {
    div {
      margin-bottom: 10px;
      padding-left: 30px;
    }
  }

  p {
    text-align: center;
    a{
      color: $content-background;
    }
    a:hover {
      color: $button-hover;
    }
  }

  .btn-reg {
    display: block;
    margin: auto;
    font-size: 1.1em;
  }
}

.footer {
  background: $footer-background;
  color: white;

  .footer-content {
    height: auto;
    display: flex;

    .footer-section {
      flex: 1;
      padding-left: 25px;

      h1, h2 {
        color: $text-color;
        font-family: $logo-text;

        span {
          color: $span-color;
        }
      }

      h2 {
        margin-bottom: 0;
      }
    }

    .about {
      .contact {
        font-size: 1.1em;
        margin: 10px;
      }

      .socials {
        text-align: center;

        a {
          width: 40px;
          height: 30px;
          color: white;
          display: inline-block;
          font-size: 1.2em;
          transition: 1s;
        }

        a:hover {
          color: $text-color;
          transition: 1s;
        }
      }
    }

    .links {
      ul {
        list-style: none;
        font-size: 1.3em;
        padding: 0;
        margin: 0 auto;

        a {
          text-decoration: none;
          color: white;
          transition: 1s;
        }

        a:hover {
          color: $text-color;
          transition: 1s;
        }
      }
    }

    .contact-form {
      .contact-input {
        background: $admin-header;
        color: white;
        margin-bottom: 5px;
        line-height: 1.5rem;
        border: none;
      }

      .contact-input:focus {
        background: $content-background;
      }

      .btn-send {
        margin-bottom: 10px;
        color: white;
        background: $content-background;
      }

      .btn-send:hover {
        color: $text-color;
        background: $button-hover;
      }
    }
  }

  .footer-bottom {
    height: 30px;
    width: 100%;
    background: $logout-black;
    text-align: center;
    position: relative;
    padding-top: 10px;
    font-family: $logo-text;
  }
}

@media only screen and (max-width: 1420px) {
  .content {
    .main-content, .contact {
      width: 90%;
      padding: 5px;
    }

    .sidebar {
      width: 90%;
      padding: 5px;
      float: left;

      .section {
        width: 40%;
        float: left;
      }

      .search {
        margin-top: 0;
        float: left;
      }

      .topics {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 1070px) {

  .post-slider {

    .next {
      right: 40px;
    }

    .prev {
      left: 40px;
    }
  }

  .content {
    width: 95%;
    margin: 30px auto 30px;
  }

  .auth-content {
    width: 50%;
  }

  .footer .footer-content .about .contact {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 780px) {
  .post-slider {

    height: 300px;

    .next {
    right: 30px;
    }
    .prev {
      left: 30px;
    }

    .post-wrapper .post {
      height: 200px;

      .slider-image {
        height: 150px;
      }

      .post-info{
        .title {
          font-size: 1.3em;
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 5px;

    .main-content{
      width: 95%;

      .single-image {
        height: 200px;
      }
    }

    .post {
      width: 100%;

      .post-preview {
        font-size: 0.9em;

        .title {
          line-height: 20px;
        }
      }
    }

    .sidebar {
      width: 90%;
      margin-left: 20px;
    }

    .search, .topics {
      width: 40%;
      margin-right: 0;
    }
  }

  .footer .footer-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .auth-content {
    width: 90%;
  }

  header {
    .menu-toggle {
      display: block;
    }

    .nav {
      display: none;
    }

    .nav.showing {
      display: block;
      width: 200px;
      right: 0;
    }

    ul {
      position: absolute;
      top: 62px;
      width: 100%;


      li{
        background: $admin-header;
        width: 200px;
        border-bottom: 1px solid $content-background;

        ul {
          width: 100%;

          li{
            border-top: 1px solid $content-background;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .post-slider {
    .next {
      right: 10px;
    }

    .prev {
      left: 10px;
    }
  }

  .content .main-content .post {
    height: 130px;

    .preview-text {
      display: none;
    }
  }

  .footer .footer-bottom {
    font-size: 0.8em;
    height: 50px;
  }
}